{% extends "base.html" %}
{% block conteudo %} 
    <style type="text/css">
        slogan{
            text-align: center;
        }
    </style>

    <slogan>
        <h2>
            <br>
            <q>
                Teste de Home Page
            </q>
            <br>
            <br>1 <br>
            2 <br>
            3<br>
            4 <br>
            5 <br>
            6<br>
            8<br>
            9<br>
            10<br><br>
        </h2>
        
    </slogan>
 

{% endblock conteudo %}